<div class="container">
	<div class="span8 offset2">
		<h3><%= link_to @idea.title, idea_path(@idea.id) %></h3>
		<div class="panel"><%= @idea.description %></div>
		<nav>
				<ul class="idea_show_foot_menu">
		<% if @current_user.id == @idea.user_id %>
			    	<li><strong><%= link_to "edit", edit_idea_path(@idea) %></strong></li>
			    	<li><strong><%= link_to "delete", @idea, method: :delete, 
			    												data: { confirm: "Are you sure?" } %></strong></li>
		<% end %>
			<% if @idea.flag? %>
				<li><strong>flagged for review</strong> (<%= link_to "unflag", controller: :ideas, 
																					action: :flag %>)</strong></li>
			<% else %>
				<li><strong><%= link_to "flag for review", controller: :ideas, 
																action: :flag %></strong></li>
			<% end %>
			</ul>
		</nav>
	</div>
</div>

<div class="container">
	<div class="span8 offset2">
		<h4><%= pluralize(@comments.count, 'Comment') %></h4>
		<hr>

		<%= form_for([@idea, @idea.comments.build]) do |f| %>
	    <%= render 'shared/idea_error_messages' %>

	 	  <%= f.hidden_field :name, :value => "#{@current_user.name}" %>
	      <%= f.text_area :comment, :id => "large_text_area" %>
	      <br />
	      <div class="pull-right">
	      	<%= f.submit "Submit", class: "btn btn-primary btn-xs" %>
	      </div>
	    <% end %>
	</div>
</div>

<div class="container">
	<div class="span8 offset2">
		<hr>
		<% @comments.each do |c| %>
			<h5><%= c.name %> <small><%= time_ago_in_words(c.created_at) %> ago</h5></small>
			<blockquote><p><%= c.comment %></p></blockquote>
			<hr>
		<% end %>
	</div>
</div>

